{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "lodash",
    "no-loops",
    "no-use-extend-native",
    "node",
    "optimize-regex",
    "promise",
    "sonarjs",
    "unicorn"
  ],
  "extends": [
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:lodash/recommended",
    "plugin:node/recommended",
    "plugin:sonarjs/recommended",
    "plugin:unicorn/recommended"
  ],
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/brace-style": ["error", "stroustrup"],
    "@typescript-eslint/indent": ["error", "tab"],
    "@typescript-eslint/no-use-before-define": ["error", { "functions": false }],
    "key-spacing": ["error", { "align": "value" }],
    "no-console": "off",
    "no-multi-spaces": "off",
    "max-len": ["error", { "code": 120, "comments": 240, "tabWidth": 2 }],
    "node/no-unsupported-features/es-syntax": "off",
    "no-tabs": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "node/no-missing-import": ["error", {
      "allowModules": [],
      "resolvePaths": ["/path/to/a/modules/directory"],
      "tryExtensions": [".js", ".json", ".ts"]
    }]
  }
}
